:root {
	--main-text-color: #333333;
	--reverso-main-text-color: #FFF;
	--accent-color: #FF9900;
	--accent-color-lighter: #FFB84D;
	--accent-color-darker: #E1670E;

	--light-block-color: #FFF;

    --header-height: 100px;
}

/* ================ FONTS =============== */

/* montserrat-regular - cyrillic_latin */
@font-face {
	font-display: swap;
	font-family: 'Montserrat';
	font-style: normal;
	font-weight: 400;
	src: url('../fonts/montserrat-v25-cyrillic_latin-regular.woff2') format('woff2'),
		url('../fonts/montserrat-v25-cyrillic_latin-regular.woff') format('woff');
}

/* montserrat-500 - cyrillic_latin */
@font-face {
	font-display: swap;
	font-family: 'Montserrat';
	font-style: normal;
	font-weight: 500;
	src: url('../fonts/montserrat-v25-cyrillic_latin-500.woff2') format('woff2'),
		url('../fonts/montserrat-v25-cyrillic_latin-500.woff') format('woff');
}

/* montserrat-600 - cyrillic_latin */
@font-face {
	font-display: swap;
	font-family: 'Montserrat';
	font-style: normal;
	font-weight: 600;
	src: url('../fonts/montserrat-v25-cyrillic_latin-600.woff2') format('woff2'),
		url('../fonts/montserrat-v25-cyrillic_latin-600.woff') format('woff');
}

/* montserrat-700 - cyrillic_latin */
@font-face {
	font-display: swap;
	font-family: 'Montserrat';
	font-style: normal;
	font-weight: 700;
	src: url('../fonts/montserrat-v25-cyrillic_latin-700.woff2') format('woff2'),
		url('../fonts/montserrat-v25-cyrillic_latin-700.woff') format('woff');
}

/* montserrat-800 - cyrillic_latin */
@font-face {
	font-display: swap;
	font-family: 'Montserrat';
	font-style: normal;
	font-weight: 800;
	src: url('../fonts/montserrat-v25-cyrillic_latin-800.woff2') format('woff2'),
		url('../fonts/montserrat-v25-cyrillic_latin-800.woff') format('woff');
}

/* ================ COMMON STYLES ================ */

* {
	box-sizing: border-box;
}

body {
	font-family: 'Montserrat', sans-serif;
	font-size: 16px;
	line-height: 2;
	font-weight: 400;
	color: var(--main-text-color);
	background-color: var(--light-block-color);
}

header,
section,
footer {
	padding: 0 68px;
}

.container {
	margin: 0 auto;
	max-width: 1770px;
	background: transparent;
}

.section__heading {
	margin-top: 100px;
	color: var(--main-text-color);
	font-size: 48px;
	line-height: 1.2;
}

.fade-text {
	color: #CACACA;
}

.btn,
.accent-btn-filled,
.accent-btn-bordered {
	display: inline-block;
	padding: 18px 36px;
	text-align: center;
	font-size: 16px;
	font-style: normal;
	line-height: 1.2;
	transition-property: color, background-color, border-color;
	transition-duration: .3s;
	transition-timing-function: linear;
}

.btn {
	border: 1px solid var(--main-text-color);
	color: var(--main-text-color);
}

.btn:hover,
.btn:focus {
	border-color: #666;
	background-color: #666;;
	color: var(--reverso-main-text-color);
}

.btn:active {
	border-color: #000000;
	background-color: #000000;
}

.accent-btn-filled,
.accent-btn-bordered {
	border: 3px solid var(--accent-color);
	color: var(--reverso-main-text-color);
	font-weight: 700;
}

.accent-btn-filled {
	background-color: var(--accent-color);
}

.accent-btn-filled:hover,
.accent-btn-filled:focus {
	background-color: var(--accent-color-lighter);
	border-color: var(--accent-color-lighter);
}

.accent-btn-bordered:hover,
.accent-btn-bordered:focus {
	background-color: var(--accent-color);
}

.accent-btn-bordered:active {
	background-color: var(--accent-color-darker);
}

.border-focus {
	display: inline-block;
	position: relative;
}

.border-focus::before {
	position: absolute;
	display: inline-block;
	content: '';
	top: -5px;
	right: -5px;
	bottom: -5px;
	left: -5px;
	border: 2px solid transparent;
	transition: border-color .3s linear;
}

.border-focus:focus::before {
	border-color: var(--accent-color);
}

.border-focus:active::before {
	border-color: transparent;
}

/* ================ HEADER ================ */
.header {
	background: var(--light-block-color);
	box-shadow: 0px 1px 8px 0px rgba(0, 0, 0, 0.6);
	z-index: 100;
    position: fixed;
    width: 100%;
}

.header__container {
    display: flex;
	align-items: center;
	justify-content: space-between;
	height:var(--header-height);
}

.header__burger-btn {
    display: none;
    margin-left: -9px;
    border: none;
    cursor: pointer;
    padding: 0;
    transform: translateY(2px);
    background-color: transparent;
    z-index: 102;
}

.header__burger-icon {
    width: 48px;
    height: 30px;
}

.header__burger-line {
    fill: none;
    stroke: #333;
    stroke-width: 6;
    transition: stroke-dasharray .5s cubic-bezier(0.4, 0, 0.2, 1),
        stroke-dashoffset .5s cubic-bezier(0.4, 0, 0.2, 1),
        stroke .3s ease-in-out;
}

.header__burger-btn:hover .header__burger-line {
    stroke: var(--accent-color);
}

.header__burger-line-1,
.header__burger-line-3 {
    stroke-dasharray: 60 207;
}

.header__burger-line-2 {
    stroke-dasharray: 60 60;
}

.opened .header__burger-line-1,
.opened .header__burger-line-3 {
    stroke-dasharray: 90 207;
    stroke-dashoffset: -134;
}

.opened .header__burger-line-2 {
    stroke-dasharray: 1 60;
    stroke-dashoffset: -30;
}

.header__modal-nav {
    --max-width: 320px;

    padding: 15px;
    padding-top: 100px;
    position: fixed;
    left: 0;
    top: 0;
    bottom: 0;
    width: 100%;
    max-width: var(--max-width);
    height: 100vh;
    background-color: #FFF;
    z-index: 100;
    transform: translateX(calc(-1 * (var(--max-width) + 1px)));
    transition: transform .3s ease-out;
}

.header__modal-nav.is-active {
    transform: none;
    box-shadow: 0px 1px 8px 0px rgba(0, 0, 0, 0.6);
}

.header__modal-nav-list {
    display: flex;
    width: 100%;
    flex-direction: column;
    justify-content: center;
}

.header__modal-close-btn {
    position: absolute;
    right: 15px;
    top: 15px;
}

.header__modal-close-icon path {
    transition: fill .3s ease-in-out;
}

.header__modal-close-icon:hover path {
    fill: var(--accent-color);
}

.header__modal-nav-item,
.header__nav-item {
    font-size: 18px;
    font-weight: 600;
    line-height: 1.2;
}

.header__modal-nav-item {
    margin-bottom: 25px;
}

.header__modal-nav-link,
.header__nav-link {
    color: var(--main-text-color);
    transition: color .3s linear;
}

.header__modal-nav-link:active,
.header__nav-link:active {
    color: var(--accent-color-darker);
}

.header__modal-nav-link:active::before,
.header__nav-link:hover::before,
.header__nav-link:active::before {
    border-bottom-color: var(--accent-color-darker);
}

.header__logo-img {
	width: 224px;
	height: 72px;
	margin-right: 70px;
}

.header__main-nav {
	margin-left: auto;
}

.header__nav-list {
	display: flex;
}

.header__nav-item {
	margin-right: 85px;
}

.header__search-btn {
	width: 24px;
	height: 24px;
}

.header__search-btn-icon path,
.header__search-btn-icon rect {
	transition-property: stroke, fill;
	transition-duration: .3s;
	transition-timing-function: linear;
}

.header__search-btn:hover .header__search-btn-icon path:last-child {
	stroke: var(--accent-color);
}

.header__search-btn:hover .header__search-btn-icon path:first-child {
	fill: var(--accent-color);
}

/* ================ HERO ================ */

.hero {
    padding-top: var(--header-height);
}

.hero__container {
    position: relative;
}

.hero__info-container {
	padding: 100px 80px;
}

.hero__swiper {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: -1;
}

.hero__swiper-slide {
    background-size: cover;
    background-position: center;
}

.hero__swiper-slide-1 {
    background-image: url(../img/hero-slider-1.jpg);
}

.hero__swiper-slide-2 {
    background-image: url(../img/hero-slider-2.jpg);
}

.hero__swiper-slide-3 {
    background-image: url(../img/hero-slider-3.jpg);
}

.hero__swiper-pagination {
    bottom: 19px !important;
}

.hero__swiper-pagination>.swiper-pagination-bullet {
    background-color: #FFF;
    width: 16px;
    height: 16px;
}

.hero__swiper-pagination>.swiper-pagination-bullet:not(:last-child) {
    margin-right: 15px !important;
}

.hero__heading,
.hero__description {
	color: var(--reverso-main-text-color);
	line-height: 1.2;
}

.hero__heading {
	max-width: 837px;
	font-size: 70px;
	font-weight: 800;
}

.hero__description {
	max-width: 790px;
	margin-top: 27px;
	font-size: 24px;
	font-weight: 700;
}

.hero__btn {
	margin-top: 89px;
	font-size: 24px;
	padding: 22px 32px;
}

/* ================ ABOUT US ================ */

.about-us__heading {
	margin-top: 102px;
}

.about-us__text {
	margin-top: 20px;
	max-width: 1235px;
}

.about-us__cards-container {
	display: flex;
	margin-top: 50px;
}

.about-us__hero-card-column,
.about-us__cards-list-column {
	flex: 1 1 0;
}

.about-us__hero-card {
	height: 100%;
	min-height: 600px;
	overflow: hidden;
	position: relative;
}

.about-us__hero-img {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	object-fit: cover;
	object-position: center;
}

.about-us__hero-overlay {
	display: flex;
	position: absolute;
	padding: 50px;
	width: 100%;
	min-height: 194px;
	justify-content: space-between;
	align-items: center;
	bottom: 0;
	left: 0;
	background-color: #00000080;
}

.about-us__hero-overlay-text {
	margin-right: 50px;
	color: var(--reverso-main-text-color);
	max-width: 454px;
	font-weight: 700;
	line-height: 32px;
}

.about-us__hero-overlay-btn {
	align-self: center;
}

.about-us__cards-list-column {
	margin-left: 32px;
}

.about-us__card {
	display: flex;
	padding: 64px 60px;
	border: 1px solid #CACACA;
	min-height: 295px;
	position: relative;
}

.about-us__card:not(:last-child) {
	margin-bottom: 32px;
}

.about-us__card-img {
	align-self: center;
}

.about-us__card-info {
	position: relative;
	margin-left: 50px;
}

.about-us__card-heading {
	margin-bottom: 8px;
	color: var(--main-text-color);
	font-size: 24px;
	font-weight: 700;
	line-height: 1.2;
}

.about-us__card-text {
	max-width: 425px;
}

/* ================ HOW WE WORK ================ */

.how-we-work__nav {
    display: flex;
    margin-top: 50px;
    max-width: 457px;
    justify-content: space-between;
}

.how-we-work__tab {
    color: #333;
	font-size: 18px;
	line-height: 1.2;
    cursor: pointer;
}

.how-we-work__tab:not(:last-child) {
	margin-right: 5px;
}

.how-we-work__nav-link {
	color: var(--main-text-color);
	transition: color 0.3s linear;
}

.how-we-work__nav-link:hover {
	color: var(--accent-color);
}

.how-we-work__nav-link:active {
	color: var(--accent-color-darker);
}

.how-we-work__nav-link:focus::before {
	border-color: var(--accent-color-darker);
}

.how-we-work__tab {
    transition: color .3s ease-in-out;
}

.how-we-work__tab.is-active {
    color: var(--accent-color);
}

.how-we-work__tab-info {
	display: none;
	margin-top: 47px;
}


.how-we-work__tab-info.is-active {
	display: flex;
}



.how-we-work__description-column {
    flex: 1 1 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
	max-width: 760px;
	margin-right: 142px;
}

.how-we-work__info-container {

}

.how-we-work__sub-heading {
    font-size: 24px;
    font-weight: 700;
    line-height: 32px;
}

.how-we-work__text {
    margin-top: 8px;
}

.how-we-work__btn-container {
    margin-top: 15px;
}

.how-we-work__accent-btn-filled {
    margin-right: 29px;
    padding: 18px 34px;
}

.how-we-work__btn {
    padding: 20px 37px;
}

.how-we-work__img-column {
	flex: 1 1 0;
    display: flex;
    flex-direction: column;
	margin-top: 9px;
	width: 100%;
    min-height: 460px;
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
}

.how-we-work__img-1 {
    background-image: url(../img/how-we-work-1.jpg);
}

.how-we-work__img-2 {
    background-image: url(../img/how-we-work-2.jpg);
}

.how-we-work__img-3 {
    background-image: url(../img/how-we-work-3.jpg);
}

.how-we-work__img-4 {
    background-image: url(../img/how-we-work-4.jpg);
}

/* ================ FAQ ================ */

.faq__list {
    margin-top: 45px;
}

.faq__question {
    position: relative;
    padding: 30px 0;
    display: flex;
    width: 100%;
    align-items: center;
    cursor: pointer;

    font-size: 24px;
    font-weight: 700;
    line-height: 32px;
}

.faq__question:hover {}

.faq__question::before {
    position: absolute;
    content: '';
    display: block;
    top: -1px;
    right: 0;
    bottom: 0;
    left: 0;
    border-width: 1px 0;
    border-style: solid;
    border-color: #CACACA;
    transition: border-color .3s linear;
}

.faq__question:hover::before,
.ui-state-focus.faq__question::before {
    border-color: var(--accent-color);
    z-index: 1;
}

.ui-accordion-header-active.faq__question:hover::before,
.ui-accordion-header-active.faq__question::before {
    border-color: #CACACA;
    border-bottom: none;
}

.faq__question .faq__question-btn-icon circle,
.faq__question .faq__question-btn-icon path {
    transition: fill .3s linear;
}

.faq__question:hover  .faq__question-btn-icon circle,
.ui-state-focus .faq__question-btn-icon circle,
.ui-accordion-header-active  .faq__question-btn-icon circle {
    fill: var(--accent-color);
}

.faq__question:hover .faq__question-btn-icon path,
.ui-state-focus .faq__question-btn-icon path,
.ui-accordion-header-active.faq__question:focus .faq__question-btn-icon path {
    fill: var(--reverso-main-text-color);
}

.ui-accordion-header-active {
    border-bottom: none;
    padding-bottom: 30px;
}

.faq__question-text {
    margin-right: auto;
}

.faq__question-btn-icon {
    margin-left: 15px;
    transition: transform .3s ease-in-out;
}

.ui-accordion-header-active .faq__question-btn-icon {
    transform: rotate(45deg);
}

.faq__answer {
    padding-bottom: 40px;
}

.faq__answer-paragraph:not(:last-child) {
   margin-bottom: 45px;
}

.faq__answer-paragraph {
    max-width: 1000px;
}

/* ================ FOOTER ================ */

.footer {
	margin-top: 106px;
	background-color: #222;;
}

.footer__container {
	display: flex;
	justify-content: space-between;
	padding: 50px 0;
}

.footer__nav-column {
	width: 252px;
}

.footer__logo-link {
	display: inline-block;
}

.footer__nav-list {
	margin-top: 20px;
}

.footer__nav-link {
	color: #CACACA;
	font-size: 18px;
	font-weight: 600;
	line-height: 36px;
	transition: color .3s linear;
}

.footer__nav-link:hover {
	color: var(--accent-color);
}

.footer__nav-link:active {
	color: var(--accent-color-darker);
}

.footer__social-media-list {
	margin-top: 90px;
	display: flex;
}

.footer__social-media-item,
.footer__social-media-link {
	display: inline-block;
	line-height: 1;
	font-size: 0;
}

.footer__social-media-item:not(:last-of-type) {
	margin-right: 25px;
}

.footer__social-media-icon {
	width: 60px;
	height: 60px;
}

.footer__social-media-icon g,
.footer__social-media-icon path {
	transition: fill .3s linear;
}

.footer__social-media-link:hover  .footer__social-media-icon g,
.footer__social-media-link:hover  .footer__social-media-icon path {
	fill: var(--accent-color);
}

.footer__social-media-link:active  .footer__social-media-icon g,
.footer__social-media-link:active  .footer__social-media-icon path {
	fill: var(--accent-color-darker);
}

.footer__form-column {
	width: 570px;
	transform: translateX(64px);
}

.footer__form-heading {
	margin-top: 0;
	color: #CACACA;
}

.footer__form-input,
.footer__form-textarea {
	margin-top: 25px;
	padding: 16px 24px;;
	display: block;
	width: 100%;
	background-color: #414141;
	transition: background-color, .3s linear;
}

.footer__form-input:hover,
.footer__form-textarea:hover,
.footer__form-input:focus,
.footer__form-textarea:focus,
.footer__form-input:active,
.footer__form-textarea:active{
	background-color: #666666
}

.footer__form-input {
	height: 60px;
}

.footer__form-textarea {
	height: 150px;
	resize: none
}

.footer__form-input,
.footer__form-textarea {
	font-size: 16px;
	position: relative;
	color: var(--reverso-main-text-color);
	font-weight: 400;
	line-height: 32px;
}

.footer__form-input::placeholder,
.footer__form-textarea::placeholder {
	position: absolute;
	color: #CACACA;
	font-size: 16px;
	font-weight: 400;
	line-height: 32px;
}

.footer__submit-container {
	margin-top: 32px;
	display: flex;
	flex-wrap: wrap;
	align-items: center;
}

.footer__btn {
	margin-right: 22px;
	padding: 17px 49px;
    order: -1;
}

.footer__agreement {
	cursor: pointer;
}

.footer__agreement-label {
	color: #CACACA;
	line-height: 32px;
	cursor: pointer;
}

.footer__agreement-checkbox {
	position: absolute;
	z-index: -1;
	opacity: 0;
}

.footer__agreement-checkbox+label{
	display: inline-flex;
	align-items: center;
	user-select: none;
	position: relative;
}

.footer__agreement-checkbox+label::before {
	content: '';
	display: inline-block;
	width: 14px;
	height: 14px;
	flex-shrink: 0;
	flex-grow: 0;
	outline: 1px solid #FFF;
	margin-right: 4px;
}

.footer__agreement-checkbox:focus+label::before {
	outline: 1px solid var(--accent-color);
}

.footer__agreement-checkbox:focus+label {
    color: var(--accent-color);
}

.footer__agreement-checkbox+label::after {
	position: absolute;
	left: 0;
	content: '';
	display: inline-block;
	width: 14px;
	height: 14px;
	flex-shrink: 0;
	flex-grow: 0;
	margin-right: 4px;
	background-image: url('../img/checkbox.svg');
	background-repeat: no-repeat;
	background-position: center center;
	transform: scale(0);
	z-index: 1;
	transition: transform .2s ease-in;
}

.footer__agreement-checkbox:checked+label::after {
	transform: scale(1);
}

.footer__text-column {
	margin-left: 15px;
	display: flex;
	align-items: center;
}

.footer__text {
	max-width: 365px;
	color: #CACACA;
	line-height: 32px;
}
